
basic/.DS_Store

basic/.DS_Store

practice/.DS_Store

practice/.DS_Store

.DS_Store

advanced/pat_1001

advanced/pat_1002

advanced/pat_1003

practice/pat-2-08

PAT(A)101-105-2-2013-08-30/cbst

PAT(A)101-105-2-2013-08-30/dating

PAT(A)101-105-2-2013-08-30/set_similarity

PAT(A)101-105-2-2013-08-30/talent
